body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.header {
  flex: 100%;
  background-image: url(../../images/graywatersmall.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.contain {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 0px auto;
}
.volume {
  width: 42%;
  margin-right: 12px;
}
.maintext {
  width: 58%;
  margin-left: 12px;
}
h1 {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  margin-top: -60px;
  font-family: axia-stencil, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 170px;
  line-height: 0.9;
}
h4 {
  margin-top: 170px;
  padding-left: 42%;
  color: white;
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
h3 {
  color: DimGrey;
  font-family: fira-sans, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 100px;
  line-height: 1;
  margin-top:
}
h5 {
  color: DimGrey;
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
p {
  color: DimGrey;
  font-family: fira-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  line-height: 1.4;
}
