body {
  background-color: #000000;
  color: #FFFFFF;
  margin: 30px 350px 75px;
  margin-top: 70px;
  border: 5px red;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
  font-family: hobeaux-rococeaux, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}
h3 {
  text-align: center;
  font-family: dunbar-low, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 2px;
}
h5 {
  font-weight: normal;
  font-style: italic;
}
p {
  text-indent: 2em;
  line-height: 1.25em;
  text-align: center;
  font-family: dunbar-low, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 25px;
}
a {
  color: #FFFFFF;
  text-decoration: none;
  font-style: italic;
}
a.ex2:hover {
  color: Red;
  font-size: 110%;
  transition: font-size 2s;
}
