body {
  margin: 0;
  overflow-x: hidden;
  background-color: lightyellow;
}
.container {
 width: 110vw;
 margin: -30px;
}
.block-1, .block-2 {
  width: 100px;
  height: 100px;
  float: left;
  /* opacity: .7; */
  border-radius: 50%;
  border: 10px solid black;
}
.block-1 {
  border-color: black;
  margin: 50px;
}
.block-2 {
  border-color: red;
  margin: -50px;
}
.block-3 {
  border-radius: 50%;
  border: 10px solid black;
  float: left;
  width: 200px;
  height: 200px;
  border-color: blue;
  margin: 0;
  background-color: teal;
}
.block-4 {
  border-radius: 50%;
  border: 10px solid black;
  float: left;
  width: 100px;
  height: 200px;
  border-color: green;
  margin: 0;
}
